.ting-search-carousel {
  background: #fff;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}

.ting-search-carousel .search-controller {
  height: 20px;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0 0 10px;
  width: 100%;
}

.ting-search-carousel .search-controller li.active {
  background: none;
}

.ting-search-carousel .search-controller li {
  background: none;
  float: left;
  font-size: 11px;
  height: 18px;
  line-height: 15px;
  margin: -1px 2px 0 0;
  padding: 0 5px 0 0;
}

.ting-search-carousel .search-controller li a {
  font-size: 11px;
  line-height: 15px;
  background: #535250;
  color: #fff;
  letter-spacing: .2px;
  padding: 2px 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.ting-search-carousel .search-controller li.active a {
  background: #38a39d;
}

.ting-search-carousel .ting-search-results {
  position: relative;
  clear: both;
  height: auto;
  overflow: hidden;
}

.ting-search-carousel .ting-search-results .subtitle {
  color: #bfbfbf;
  float: none;
  font-size: 36px;
  line-height: 46px;
  margin: 16px 0 0 10px;
  overflow: hidden;
  padding: 0;
  text-transform: uppercase;
  width: auto;
}

.ting-search-carousel .ting-search-results .info {
  height: 39px;
  margin-top: -3px;
  overflow: hidden;
  width: 100px;
}

.ting-search-carousel .ting-search-results .info span {
  display: block;
  text-align: center;
}

.ting-search-carousel .ting-rs-carousel, .subtitle {
  float: left;
}

/* carousel */
.ting-search-carousel .rs-carousel {
  float: none;
  margin: 25px 10px 10px;
  opacity: 1 !important;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  width: auto;
}

.ting-search-carousel .rs-carousel .rs-carousel-mask {
  position:relative;
  height: 200px;
  overflow: hidden;
}

.ting-search-carousel .rs-carousel .rs-carousel-runner {
  left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 580px;
}
.ting-search-carousel .rs-carousel-runner li {
  list-style:none;
  padding-top:5em;
}

.ting-search-carousel .rs-carousel .rs-carousel-item img {
  max-width: 112px;
  height: 140px;
  width: auto;
}
.ting-search-carousel .no-js .rs-carousel .rs-carousel-runner {
  position: static;
}

.ting-search-carousel .rs-carousel .rs-carousel-item {
  float: left;
  height: 180px;
  overflow: hidden;
  padding: 0 10px 10px;
  text-align: center;
  padding-right: 16px;
  width: 100px;
}

.ting-search-carousel .rs-carousel a {
  text-decoration: none;
}

.ting-search-carousel .rs-carousel.rs-carousel-vertical .rs-carousel-item {
  float: none;
}

.ting-search-carousel .ting-search-results .info {
  height: inherit;
}

.ting-search-carousel .ting-search-results .info,
.ting-search-carousel .ting-search-results .info span {
  color: #2d9e9a;
  font-size: 12px;
  line-height: 14px;
  margin: 3px 0 0 0;
  text-decoration: none !important;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* pagination */
.ting-search-carousel .rs-carousel-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ting-search-carousel .rs-carousel-disabled .rs-carousel-pagination {
  display: none;
}

.ting-search-carousel .rs-carousel-pagination-link {
  display: inline;
}

.ting-search-carousel .rs-carousel-pagination-link a {
  padding: 2px 6px;
}

.ting-search-carousel .rs-carousel-pagination-link a:hover {
  text-decoration: none;
}

.ting-search-carousel .rs-carousel-pagination-link-active a {
  background: #444;
}

/* next & prev actions */
.ting-search-carousel .rs-carousel-disabled .rs-carousel-action-next,
.ting-search-carousel .rs-carousel-disabled .rs-carousel-action-prev {
  display: none;
}

.ting-search-carousel .rs-carousel-action-next,
.ting-search-carousel .rs-carousel-action-prev {
  background-image: url('../images/buttons.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 30%;
  height: 19px;
  outline: none;
  text-indent: -9999px;
  width: 19px;
}

.ting-search-carousel .rs-carousel-action-prev {
  left: 0;
}

.ting-search-carousel a.rs-carousel-action-next {
  background-position: -30px 0;
  right: 0;
}

.ting-search-carousel a.rs-carousel-action-prev:hover {
  background-position: -60px 0;
}

.ting-search-carousel a.rs-carousel-action-next:hover {
  background-position: -90px 0;
}

.ting-search-carousel .rs-carousel-action-disabled {
  background-position: 35px 0 !important;
}

.ting-search-carousel .rs-carousel-action-prev + .rs-carousel-action-disabled  {
  background-position: 35px -35px !important;
}

.ting-search-carousel .rs-carousel-action-disabled {
  color: gray;
  cursor: default;
}

.ting-search-carousel .rs-carousel-pagination {
  display: none;
}

.search-carousel-query {
  float: left;
}

.sort-hidden, .search-query-hidden {
  display: none;
}

